<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.vidhya.vidyaacademy">

    <application
        android:allowBackup="true"
        android:icon="@drawable/vidhya_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/vidhya_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".SplashScreen"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ClassList_list_Admin"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".StudentList_Admin"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Admin_Profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Enter_Student_Details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Admin"
            android:label="@string/title_activity_admin"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivty_Tab"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Principal"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Principal_Profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddAdmin"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AdminList"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ClasstList_Card_princi"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Parent"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Parent_Profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".StudentList_Princi"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Princi_StudentDetails"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Pending_Request"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Parent_About"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Pending_Classlist"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Pending_Studentlist"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Pending_StudentDetails_Approve"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Approved"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Approved_Classlist"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Approved_Studentlist"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".Approved_StudentDetails"
            android:theme="@style/AppTheme.NoActionBar"/>

    </application>

</manifest>