<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.vidhya.vidyaacademy">

    <application
        android:allowBackup="true"
        android:icon="@drawable/vidhya_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/vidhya_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".SplashScreen"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Enter_Student_Details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Admin"
            android:label="@string/title_activity_admin"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivty_Tab"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Principal"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Parent"
            android:theme="@style/AppTheme.NoActionBar" />

    </application>

</manifest>